<div class="container">
<div class="col-md">
<section id="upload">
    <p>
        Upload your music file. (You must pay a small bitcoin fee.)
        <hr></hr>
    </p>
    
    <form method="post" ng-submit="submit()" ng-controller="UploadController">
        Song title: 
        <br> <input type="text" ng-model="title" name="title">
        <br> Price: 
        <br> <input type="text" ng-model="price" name="price">
        <br> Tags:
        <br> <input type="text" ng-model="tags" name="tags">
        <hr></hr>
        Select a song file: 
        <br> <input type="file" fileread="musicFile" name="musicFile">
        <hr></hr>
        <br>Once you pay 0.01 testnet coins by lightning to this address (the payment request), your song will upload to the website.
        <br> <textarea>{{invoice}}</textarea>

        <br><input type="submit" id="submit" value="Upload" ng-disabled={{!invoiceData}}>
    </form>
    </div>
</section>
</div>
</div>
